@media screen and (max-width: 1024px) {
  .home-container {
    flex-direction: column-reverse;
  }

  .home-image-container {
    margin: 1em 0;
  }

  .home-image-container img {
    width: 100%;
    height: 250px;
    animation: none;
  }

  .home-heading-container {
    padding: 0;
    text-align: center;
  }
}

/* and (min-width: 768px) */

@media screen and (max-width: 767px) {
  .close-btn-box {
    display: inline-block;
  }

  .navbar {
    height: 0;
    flex-direction: column;
    margin-bottom: 5rem;
    overflow: hidden;
    transition: 0.5s linear;
  }

  .show-navbar {
    height: 20rem;
    margin-bottom: 1rem;
  }

  .logo {
    margin-top: 1rem;
  }

  .list-ul {
    flex-direction: column;
    justify-content: center;
  }

  .list-ul li {
    margin: 10px 0;
  }

  .card-container {
    width: 100%;
    margin: 1rem auto;
  }

  .inner-contact-container {
    width: 100%;
  }

  form label {
    font-size: 1em;
  }
}

@media screen and (max-width: 350px) {
  .service-container {
    padding: 0;
    width: 100%;
  }

  .card-container {
    width: 90%;
  }
}
